<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>
        Pipes incluidos en angular - usualmente en ecommon module, 
    </p>
</div>

<div class="p-grid">
    <div class="p-col p-md-6">
       <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
           <p>
            Hola {{ nombre }} {{ genero | i18nSelect:invitacionMapa }}  a este espacio, estamos felices de que estes aqui
           </p>
           <button (click)="cambiarPersona()" 
                    pButton type="button" 
                    label="Cambiar persona" 
                    class="p-button-text">
           </button>
       </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            
             <p> 
                Actualmente {{ clientes.length | i18nPlural:clientesMapa }} 
             </p>

             <button (click)="eliminarCliente()" 
                     pButton type="button" 
                     label="Eliminar clientes" 
                     class="p-button-text">
             </button>
        </p-fieldset>
     </div>

     <div class="p-col p-md-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <b>Original</b>
            <pre>{{ clientes }}</pre>

            <b>slice:0:4</b>
            <pre> {{clientes | slice:0:4 }}</pre>
        </p-fieldset>
     </div>

     <div class="p-col p-md-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
         
            <ul>
                <li *ngFor="let item of persona | keyvalue">
                    <b>{{ item.key }}:</b>   {{ item.value }}
                </li> 
            </ul>
        </p-fieldset>
     </div>  
     
     <div class="p-col p-md-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
            <pre>
              Heroes DC  {{ heroes | json }}
            </pre>
        </p-fieldset>
     </div> 

     <div class="p-col p-md-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
            <pre>
              {{ miObservable | async}}
            </pre>
            <pre *ngIf="!(valorPromesa | async )">Resolviendo Promesa</pre>
            <pre>{{ valorPromesa | async}}</pre>
        </p-fieldset>
     </div>
</div>